<a href="https://colab.research.google.com/github/Ozah-Blessing/Hamoye_Quiz_Answer/blob/main/Quiz_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QUESTION 1
A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B = [1,2,3,4,5,6,13, 21, 34]

In [17]:
A = [1,2,3,4,5,6]
A.extend([13, 21, 34])
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [18]:
A = [1,2,3,4,5,6]
A.append([13, 21, 34])
print(A)

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

# QUESTION 2
How do you create an identity matrix in python?

In [19]:
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# QUESTION 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

Using the describe() function

The standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places are  **10.60 and 17.01** respectively.

*Workings is shown in code cells (20 and 21) below*

In [20]:
import pandas as pd
fuel_data= pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")
fuel_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [21]:
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

# QUESTION 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

Answer
**Feature: fuel_unit, Total:180 **

In [22]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

# QUESTION 7
The feature with missing values falls under what category? What missing value imputation technique would you use?

**Answer: Numerical and mean imputation**

# QUESTION 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

Answer: From the 'fuel_data.describe()' above, it can be seen that** Fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered** has the second and third lowest correlation with the Fuel Cost Per Unit Burned

# Question 10
Which year has the highest average fuel cost per unit delivered?

Answer: From the 'fuel_data.describe()' above, it can be seen that **2018** has the highest average fuel cost per unit delivered.
```